@import "./common/var.scss";

.ivy-progress {
  overflow: hidden;
  line-height: 1;
  box-sizing: border-box;
  position: relative;
  &-bar {
    padding-right: 50px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-right: -55px;
    box-sizing: border-box;
    &.is-text-nside {
      padding-right: 0;
    }
    &__outer {
      height: 6px;
      border-radius: 100px;
      background-color: #ebeef5;
      overflow: hidden;
      position: relative;
      vertical-align: middle;
    }
    &__inner {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background-color: var(--ivy-color-primary);
      text-align: right;
      border-radius: 100px;
      line-height: 1;
      white-space: nowrap;
      transition: width 0.6s ease;
      &-text {
        display: inline-block;
        vertical-align: text-bottom;
        color: #fff;
        font-size: 12px;
        margin: 0 5px;
      }
    }
  }
  &__text {
    font-size: 14px;
    color: #606266;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    line-height: 1;
    box-sizing: border-box;
  }
}
.ivy-progress.is-success {
  .ivy-progress-bar__inner {
    background-color: var(--ivy-color-success);
  }
  .ivy-progress__text {
    background-color: var(--ivy-color-white);
    border-radius: 50%;
    color: var(--ivy-color-success);
    [class^="ivy-icon-"] {
      transform: scale(0.8);
    }
  }
}
.ivy-progress.is-danger {
  .ivy-progress-bar__inner {
    background-color: var(--ivy-color-danger);
  }
  .ivy-progress__text {
    background-color: var(--ivy-color-white);
    border-radius: 50%;
    color: var(--ivy-color-danger);
    [class^="ivy-icon-"] {
      transform: scale(0.8);
    }
  }
}
.ivy-progress--circle.is-success {
  .ivy-progress-bar__inner {
    background-color: var(--ivy-color-success);
  }
  .ivy-progress__text {
    background-color: transparent;
    border-radius: 0;
    color: var(--ivy-color-success);
    [class^="ivy-icon-"] {
      transform: scale(1.2);
    }
  }
}
.ivy-progress--circle.is-danger {
  .ivy-progress-bar__inner {
    background-color: var(--ivy-color-danger);
  }
  .ivy-progress__text {
    background-color: transparent;
    border-radius: 0;
    color: var(--ivy-color-danger);
    [class^="ivy-icon-"] {
      transform: scale(1.2);
    }
  }
}
.ivy-progress--circle {
  display: inline-block;
  .ivy-progress__text {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    transform: translateY(-50%);
  }
}
