@import "./common/var.scss";

.ivy-switch {
  --ivy-switch-width: 44px;
  --ivy-switch-height: 22px;
  display: inline-block;
  box-sizing: border-box;
  &__core {
    margin: 0;
    display: inline-flex;
    position: relative;
    width: var(--ivy-switch-width);
    height: var(--ivy-switch-height);
    align-items: center;
    border: 1px solid var(--ivy-border-color);
    background-color: var(--ivy-border-color);
    outline: none;
    border-radius: calc(var(--ivy-switch-height) / 2);
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s;
    vertical-align: middle;
    font-size: 12px;
    justify-content: flex-end;
    padding: 0 4px;
    color: var(--ivy-color-white);
    &:after {
      content: "";
      position: absolute;
      top: 1px;
      left: 1px;
      border-radius: 100%;
      transition: all 0.3s;
      width: calc(var(--ivy-switch-height) - 4px);
      height: calc(var(--ivy-switch-height) - 4px);
      background-color: var(--ivy-color-white);
    }
  }
}
.is-checked {
  .ivy-switch__core {
    border-color: var(--ivy-color-primary);
    background-color: var(--ivy-color-primary);
    justify-content: flex-start;
    &:after {
      left: 100%;
      margin-left: calc(3px - var(--ivy-switch-height));
    }
  }
}
.is-disabled {
  opacity: 0.6;
  .ivy-switch__core {
    cursor: not-allowed;
  }
}
