textarea {
  border: 1px solid var(--vp-c-border);
  border-radius: 4px;
  padding: 4px 8px;
}

@media (min-width: 1440px) {
  html,
  body {
    font-size: 14px;
  }
}
@media (min-width: 1920px) {
  :root {
    --vp-layout-max-width: 1900px;
  }
  #VPContent .VPDoc.has-aside .content-container {
    max-width: 1200px;
  }
}

/** flex ***************************/
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
.align-content-center {
  align-content: center;
}
.flex-justify-content-between {
  justify-content: space-between;
}
.flex-justify-content-center {
  justify-content: center;
}

.vp-doc .el-table table {
  margin: 0;
}

/*Margin*/
.margin-top-small {
  margin-top: 8px;
}
.margin-top {
  margin-top: 12px;
}
.margin-top-large {
  margin-top: 24px;
}

.margin-left-small {
  margin-left: 8px;
}
.margin-left {
  margin-left: 12px;
}
.margin-left-large {
  margin-left: 24px;
}

/*Padding*/
.padding-top-small {
  padding-top: 8px;
}
.padding-top {
  padding-top: 12px;
}
.padding-top-large {
  padding-top: 24px;
}

.padding-left-small {
  padding-left: 8px;
}
.padding-left {
  padding-left: 12px;
}
.padding-left-large {
  padding-left: 24px;
}

.demo-block {
  border: 1px solid var(--vp-c-divider);
  border-radius: 4px;
  padding: 24px 12px;
}
