@import "./common/var.scss";
.ivy-alert {
    padding: 10px 20px;
    background-color: $fox--color-primary-light-8;
    border-left: 6px solid $fox--color-primary;
    border-radius: 4px;
    line-height: 1.8em;
    & + & {
        margin-top: 20px;
    }
    &.is-success {
        border-left-color: $fox--color-success;
        background-color: $fox--color-success-light;
    }
    &.is-danger {
        border-left-color: $fox--color-danger;
        background-color: $fox--color-danger-light;
    }
    &.is-warning {
        border-left-color: $fox--color-warning;
        background-color: $fox--color-warning-light;
    }
    &.is-info {
        border-left-color: $fox--color-info;
        background-color: $fox--color-info-light;
    }
}
