@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?i5kook');
  src:  url('fonts/icomoon.eot?i5kook#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?i5kook') format('truetype'),
    url('fonts/icomoon.woff?i5kook') format('woff'),
    url('fonts/icomoon.svg?i5kook#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-location:before {
  content: "\e900";
}
.icon-aim:before {
  content: "\e901";
}
.icon-alarm-clock:before {
  content: "\e902";
}
.icon-apple:before {
  content: "\e903";
}
.icon-arrow-down:before {
  content: "\e904";
}
.icon-arrow-down-bold:before {
  content: "\e905";
}
.icon-arrow-left:before {
  content: "\e906";
}
.icon-arrow-left-bold:before {
  content: "\e907";
}
.icon-arrow-right:before {
  content: "\e908";
}
.icon-arrow-right-bold:before {
  content: "\e909";
}
.icon-arrow-up:before {
  content: "\e90a";
}
.icon-arrow-up-bold:before {
  content: "\e90b";
}
.icon-avatar:before {
  content: "\e90c";
}
.icon-back:before {
  content: "\e90d";
}
.icon-baseball:before {
  content: "\e90e";
}
.icon-basketball:before {
  content: "\e90f";
}
.icon-bell:before {
  content: "\e910";
}
.icon-bell-filled:before {
  content: "\e911";
}
.icon-bicycle:before {
  content: "\e912";
}
.icon-bottom:before {
  content: "\e913";
}
.icon-bottom-left:before {
  content: "\e914";
}
.icon-bottom-right:before {
  content: "\e915";
}
.icon-bowl:before {
  content: "\e916";
}
.icon-box:before {
  content: "\e917";
}
.icon-briefcase:before {
  content: "\e918";
}
.icon-brush-filled:before {
  content: "\e919";
}
.icon-burger:before {
  content: "\e91a";
}
.icon-calendar:before {
  content: "\e91b";
}
.icon-camera:before {
  content: "\e91c";
}
.icon-camera-filled:before {
  content: "\e91d";
}
.icon-caret-bottom:before {
  content: "\e91e";
}
.icon-caret-left:before {
  content: "\e91f";
}
.icon-caret-right:before {
  content: "\e920";
}
.icon-caret-top:before {
  content: "\e921";
}
.icon-cellphone:before {
  content: "\e922";
}
.icon-chat-dot-round:before {
  content: "\e923";
}
.icon-chat-dot-square:before {
  content: "\e924";
}
.icon-chat-line-round:before {
  content: "\e925";
}
.icon-chat-line-square:before {
  content: "\e926";
}
.icon-chat-round:before {
  content: "\e927";
}
.icon-chat-square:before {
  content: "\e928";
}
.icon-check:before {
  content: "\e929";
}
.icon-checked:before {
  content: "\e92a";
}
.icon-cherry:before {
  content: "\e92b";
}
.icon-chicken:before {
  content: "\e92c";
}
.icon-chrome-filled:before {
  content: "\e92d";
}
.icon-circle-check:before {
  content: "\e92e";
}
.icon-circle-check-filled:before {
  content: "\e92f";
}
.icon-circle-close:before {
  content: "\e930";
}
.icon-circle-close-filled:before {
  content: "\e931";
}
.icon-circle-plus:before {
  content: "\e932";
}
.icon-circle-plus-filled:before {
  content: "\e933";
}
.icon-clock:before {
  content: "\e934";
}
.icon-close:before {
  content: "\e935";
}
.icon-close-bold:before {
  content: "\e936";
}
.icon-cloudy:before {
  content: "\e937";
}
.icon-coffee:before {
  content: "\e938";
}
.icon-coffee-cup:before {
  content: "\e939";
}
.icon-coin:before {
  content: "\e93a";
}
.icon-cold-drink:before {
  content: "\e93b";
}
.icon-collection:before {
  content: "\e93c";
}
.icon-collection-tag:before {
  content: "\e93d";
}
.icon-comment:before {
  content: "\e93e";
}
.icon-compass:before {
  content: "\e93f";
}
.icon-connection:before {
  content: "\e940";
}
.icon-coordinate:before {
  content: "\e941";
}
.icon-copy-document:before {
  content: "\e942";
}
.icon-cpu:before {
  content: "\e943";
}
.icon-credit-card:before {
  content: "\e944";
}
.icon-crop:before {
  content: "\e945";
}
.icon-d-arrow-left:before {
  content: "\e946";
}
.icon-d-arrow-right:before {
  content: "\e947";
}
.icon-data-analysis:before {
  content: "\e948";
}
.icon-data-board:before {
  content: "\e949";
}
.icon-data-line:before {
  content: "\e94a";
}
.icon-d-caret:before {
  content: "\e94b";
}
.icon-delete:before {
  content: "\e94c";
}
.icon-delete-filled:before {
  content: "\e94d";
}
.icon-delete-location:before {
  content: "\e94e";
}
.icon-dessert:before {
  content: "\e94f";
}
.icon-discount:before {
  content: "\e950";
}
.icon-dish:before {
  content: "\e951";
}
.icon-dish-dot:before {
  content: "\e952";
}
.icon-document:before {
  content: "\e953";
}
.icon-document-add:before {
  content: "\e954";
}
.icon-document-checked:before {
  content: "\e955";
}
.icon-document-copy:before {
  content: "\e956";
}
.icon-document-delete:before {
  content: "\e957";
}
.icon-document-remove:before {
  content: "\e958";
}
.icon-down:before {
  content: "\e959";
}
.icon-down-circle:before {
  content: "\e95a";
}
.icon-download:before {
  content: "\e95b";
}
.icon-drizzling:before {
  content: "\e95c";
}
.icon-edit:before {
  content: "\e95d";
}
.icon-edit-pen:before {
  content: "\e95e";
}
.icon-eleme:before {
  content: "\e95f";
}
.icon-eleme-filled:before {
  content: "\e960";
}
.icon-element-plus:before {
  content: "\e961";
}
.icon-expand:before {
  content: "\e962";
}
.icon-failed:before {
  content: "\e963";
}
.icon-female:before {
  content: "\e964";
}
.icon-files:before {
  content: "\e965";
}
.icon-film:before {
  content: "\e966";
}
.icon-filter:before {
  content: "\e967";
}
.icon-finished:before {
  content: "\e968";
}
.icon-first-aid-kit:before {
  content: "\e969";
}
.icon-flag:before {
  content: "\e96a";
}
.icon-fold:before {
  content: "\e96b";
}
.icon-folder:before {
  content: "\e96c";
}
.icon-folder-add:before {
  content: "\e96d";
}
.icon-folder-checked:before {
  content: "\e96e";
}
.icon-folder-delete:before {
  content: "\e96f";
}
.icon-folder-opened:before {
  content: "\e970";
}
.icon-folder-remove:before {
  content: "\e971";
}
.icon-food:before {
  content: "\e972";
}
.icon-football:before {
  content: "\e973";
}
.icon-fork-spoon:before {
  content: "\e974";
}
.icon-fries:before {
  content: "\e975";
}
.icon-full-screen:before {
  content: "\e976";
}
.icon-goblet:before {
  content: "\e977";
}
.icon-goblet-full:before {
  content: "\e978";
}
.icon-goblet-square:before {
  content: "\e979";
}
.icon-goblet-square-full:before {
  content: "\e97a";
}
.icon-gold-medal:before {
  content: "\e97b";
}
.icon-goods:before {
  content: "\e97c";
}
.icon-goods-filled:before {
  content: "\e97d";
}
.icon-grape:before {
  content: "\e97e";
}
.icon-grid:before {
  content: "\e97f";
}
.icon-guide:before {
  content: "\e980";
}
.icon-handbag:before {
  content: "\e981";
}
.icon-headset:before {
  content: "\e982";
}
.icon-help:before {
  content: "\e983";
}
.icon-help-filled:before {
  content: "\e984";
}
.icon-hide:before {
  content: "\e985";
}
.icon-histogram:before {
  content: "\e986";
}
.icon-home-filled:before {
  content: "\e987";
}
.icon-hot-water:before {
  content: "\e988";
}
.icon-house:before {
  content: "\e989";
}
.icon-ice-cream:before {
  content: "\e98a";
}
.icon-ice-cream-round:before {
  content: "\e98b";
}
.icon-ice-cream-square:before {
  content: "\e98c";
}
.icon-ice-drink:before {
  content: "\e98d";
}
.icon-ice-tea:before {
  content: "\e98e";
}
.icon-info-filled:before {
  content: "\e98f";
}
.icon-iphone:before {
  content: "\e990";
}
.icon-key:before {
  content: "\e991";
}
.icon-knife-fork:before {
  content: "\e992";
}
.icon-left:before {
  content: "\e993";
}
.icon-left-circle:before {
  content: "\e994";
}
.icon-lightning:before {
  content: "\e995";
}
.icon-link:before {
  content: "\e996";
}
.icon-list:before {
  content: "\e997";
}
.icon-loading:before {
  content: "\e998";
}
.icon-location:before {
  content: "\e999";
}
.icon-location-filled:before {
  content: "\e99a";
}
.icon-location-information:before {
  content: "\e99b";
}
.icon-lock:before {
  content: "\e99c";
}
.icon-lollipop:before {
  content: "\e99d";
}
.icon-magic-stick:before {
  content: "\e99e";
}
.icon-magnet:before {
  content: "\e99f";
}
.icon-male:before {
  content: "\e9a0";
}
.icon-management:before {
  content: "\e9a1";
}
.icon-map-location:before {
  content: "\e9a2";
}
.icon-medal:before {
  content: "\e9a3";
}
.icon-memo:before {
  content: "\e9a4";
}
.icon-menu:before {
  content: "\e9a5";
}
.icon-message:before {
  content: "\e9a6";
}
.icon-message-box:before {
  content: "\e9a7";
}
.icon-mic:before {
  content: "\e9a8";
}
.icon-microphone:before {
  content: "\e9a9";
}
.icon-milk-tea:before {
  content: "\e9aa";
}
.icon-minus:before {
  content: "\e9ab";
}
.icon-money:before {
  content: "\e9ac";
}
.icon-monitor:before {
  content: "\e9ad";
}
.icon-moon:before {
  content: "\e9ae";
}
.icon-moon-night:before {
  content: "\e9af";
}
.icon-more:before {
  content: "\e9b0";
}
.icon-more-filled:before {
  content: "\e9b1";
}
.icon-mostly-cloudy:before {
  content: "\e9b2";
}
.icon-mouse:before {
  content: "\e9b3";
}
.icon-mug:before {
  content: "\e9b4";
}
.icon-mute:before {
  content: "\e9b5";
}
.icon-mute-notification:before {
  content: "\e9b6";
}
.icon-no-smoking:before {
  content: "\e9b7";
}
.icon-notebook:before {
  content: "\e9b8";
}
.icon-notification:before {
  content: "\e9b9";
}
.icon-odometer:before {
  content: "\e9ba";
}
.icon-office-building:before {
  content: "\e9bb";
}
.icon-open:before {
  content: "\e9bc";
}
.icon-operation:before {
  content: "\e9bd";
}
.icon-opportunity:before {
  content: "\e9be";
}
.icon-orange:before {
  content: "\e9bf";
}
.icon-paperclip:before {
  content: "\e9c0";
}
.icon-partly-cloudy:before {
  content: "\e9c1";
}
.icon-pear:before {
  content: "\e9c2";
}
.icon-phone:before {
  content: "\e9c3";
}
.icon-phone-filled:before {
  content: "\e9c4";
}
.icon-picture:before {
  content: "\e9c5";
}
.icon-picture-filled:before {
  content: "\e9c6";
}
.icon-picture-rounded:before {
  content: "\e9c7";
}
.icon-pie-chart:before {
  content: "\e9c8";
}
.icon-place:before {
  content: "\e9c9";
}
.icon-platform:before {
  content: "\e9ca";
}
.icon-plus:before {
  content: "\e9cb";
}
.icon-pointer:before {
  content: "\e9cc";
}
.icon-position:before {
  content: "\e9cd";
}
.icon-postcard:before {
  content: "\e9ce";
}
.icon-pouring:before {
  content: "\e9cf";
}
.icon-present:before {
  content: "\e9d0";
}
.icon-price-tag:before {
  content: "\e9d1";
}
.icon-printer:before {
  content: "\e9d2";
}
.icon-promotion:before {
  content: "\e9d3";
}
.icon-quartz-watch:before {
  content: "\e9d4";
}
.icon-question-filled:before {
  content: "\e9d5";
}
.icon-rank:before {
  content: "\e9d6";
}
.icon-reading:before {
  content: "\e9d7";
}
.icon-reading-lamp:before {
  content: "\e9d8";
}
.icon-refresh:before {
  content: "\e9d9";
}
.icon-refresh-left:before {
  content: "\e9da";
}
.icon-refresh-right:before {
  content: "\e9db";
}
.icon-refrigerator:before {
  content: "\e9dc";
}
.icon-remove:before {
  content: "\e9dd";
}
.icon-remove-filled:before {
  content: "\e9de";
}
.icon-right:before {
  content: "\e9df";
}
.icon-right-circle:before {
  content: "\e9e0";
}
.icon-scale-to-original:before {
  content: "\e9e1";
}
.icon-school:before {
  content: "\e9e2";
}
.icon-scissor:before {
  content: "\e9e3";
}
.icon-search:before {
  content: "\e9e4";
}
.icon-select:before {
  content: "\e9e5";
}
.icon-sell:before {
  content: "\e9e6";
}
.icon-semi-select:before {
  content: "\e9e7";
}
.icon-service:before {
  content: "\e9e8";
}
.icon-setting:before {
  content: "\e9e9";
}
.icon-set-up:before {
  content: "\e9ea";
}
.icon-share:before {
  content: "\e9eb";
}
.icon-ship:before {
  content: "\e9ec";
}
.icon-shop:before {
  content: "\e9ed";
}
.icon-shopping-bag:before {
  content: "\e9ee";
}
.icon-shopping-cart:before {
  content: "\e9ef";
}
.icon-shopping-cart-full:before {
  content: "\e9f0";
}
.icon-shopping-trolley:before {
  content: "\e9f1";
}
.icon-smoking:before {
  content: "\e9f2";
}
.icon-soccer:before {
  content: "\e9f3";
}
.icon-sold-out:before {
  content: "\e9f4";
}
.icon-sort:before {
  content: "\e9f5";
}
.icon-sort-down:before {
  content: "\e9f6";
}
.icon-sort-up:before {
  content: "\e9f7";
}
.icon-stamp:before {
  content: "\e9f8";
}
.icon-star:before {
  content: "\e9f9";
}
.icon-star-filled:before {
  content: "\e9fa";
}
.icon-stopwatch:before {
  content: "\e9fb";
}
.icon-success-filled:before {
  content: "\e9fc";
}
.icon-sugar:before {
  content: "\e9fd";
}
.icon-suitcase:before {
  content: "\e9fe";
}
.icon-suitcase-line:before {
  content: "\e9ff";
}
.icon-sunny:before {
  content: "\ea00";
}
.icon-sunrise:before {
  content: "\ea01";
}
.icon-sunset:before {
  content: "\ea02";
}
.icon-switch:before {
  content: "\ea03";
}
.icon-switch-button:before {
  content: "\ea04";
}
.icon-switch-filled:before {
  content: "\ea05";
}
.icon-takeaway-box:before {
  content: "\ea06";
}
.icon-ticket:before {
  content: "\ea07";
}
.icon-tickets:before {
  content: "\ea08";
}
.icon-timer:before {
  content: "\ea09";
}
.icon-toilet-paper:before {
  content: "\ea0a";
}
.icon-tools:before {
  content: "\ea0b";
}
.icon-top:before {
  content: "\ea0c";
}
.icon-top-left:before {
  content: "\ea0d";
}
.icon-top-right:before {
  content: "\ea0e";
}
.icon-trend-charts:before {
  content: "\ea0f";
}
.icon-trophy:before {
  content: "\ea10";
}
.icon-trophy-base:before {
  content: "\ea11";
}
.icon-turn-off:before {
  content: "\ea12";
}
.icon-umbrella:before {
  content: "\ea13";
}
.icon-unlock:before {
  content: "\ea14";
}
.icon-up:before {
  content: "\ea15";
}
.icon-up-circle:before {
  content: "\ea16";
}
.icon-upload:before {
  content: "\ea17";
}
.icon-upload-filled:before {
  content: "\ea18";
}
.icon-user:before {
  content: "\ea19";
}
.icon-user-filled:before {
  content: "\ea1a";
}
.icon-van:before {
  content: "\ea1b";
}
.icon-video-camera:before {
  content: "\ea1c";
}
.icon-video-camera-filled:before {
  content: "\ea1d";
}
.icon-video-pause:before {
  content: "\ea1e";
}
.icon-video-play:before {
  content: "\ea1f";
}
.icon-view:before {
  content: "\ea20";
}
.icon-wallet:before {
  content: "\ea21";
}
.icon-wallet-filled:before {
  content: "\ea22";
}
.icon-warning:before {
  content: "\ea23";
}
.icon-warning-filled:before {
  content: "\ea24";
}
.icon-warn-triangle-filled:before {
  content: "\ea25";
}
.icon-watch:before {
  content: "\ea26";
}
.icon-watermelon:before {
  content: "\ea27";
}
.icon-wind-power:before {
  content: "\ea28";
}
.icon-zoom-in:before {
  content: "\ea29";
}
.icon-zoom-out:before {
  content: "\ea2a";
}
