@import "./common/var.scss";

.ivy-drawer {
  --ivy-drawer-size: 30%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  &.is-mask {
    background-color: rgba($color: #000000, $alpha: 0.4);
  }
  &__wrapper {
    width: 40%;
    background-color: var(--ivy-color-white);
    position: absolute;
    display: flex;
    flex-direction: column;
    &[data-placement="top"] {
      top: 0;
      left: 0;
      width: 100%;
      height: var(--ivy-drawer-size);
      box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, 0.12);
    }
    &[data-placement="right"] {
      top: 0;
      right: 0;
      height: 100%;
      width: var(--ivy-drawer-size);
      box-shadow: -1px 0 6px 0 rgba(0, 0, 0, 0.12);
    }
    &[data-placement="bottom"] {
      bottom: 0;
      left: 0;
      width: 100%;
      height: var(--ivy-drawer-size);
      box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    }
    &[data-placement="left"] {
      top: 0;
      left: 0;
      height: 100%;
      width: var(--ivy-drawer-size);
      box-shadow: 1px 0 6px 0 rgba(0, 0, 0, 0.12);
    }
  }
  &__body {
    padding: 16px;
    flex-grow: 1;
    overflow: auto;
  }
  &__header {
    padding: 12px 16px;
    font-size: 16px;
    border-bottom: 1px solid var(--ivy-border-color);
  }
}
