@import "./common/var.scss";
.ivy-form {
  --ivy-form-text-size-tip: 12px;
  --ivy-form-text-size: var(--ivy-font-size);
  --ivy-form-item-gap: 16px;

  padding: 0;
  border-radius: 4px;
  font-size: var(--ivy-list-font-size);
  &--small {
    --ivy-form-item-gap: 16px;
  }
  &--medium {
    --ivy-form-item-gap: 16px;
  }
  &--large {
    --ivy-list-size: 16px 24px;
    --ivy-form-item-gap: 24px;
  }

  & &__body {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  &-item {
    width: 100%;
    margin-bottom: var(--ivy-form-item-gap);

    &--wrap {
      display: flex;
    }
  }
}
