.ivy-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .is-border {
    border-top: 1px solid var(--ivy-border-color);
    border-left: 1px solid var(--ivy-border-color);
  }
  &-item {
    box-sizing: border-box;
    &.is-border {
      border-right: 1px solid var(--ivy-border-color);
      border-bottom: 1px solid var(--ivy-border-color);
    }
  }
}
