@import "./common/var.scss";

.ivy-input {
  position: relative;
  font-size: 14px;
  display: inline-block;
  width: 220px;
  &__inner {
    position: relative;
    -webkit-appearance: none;
    background-color: var(--ivy-color-white);
    background-image: none;
    border-radius: 4px;
    border: 1px solid var(--ivy-border-color);
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 32px;
    line-height: 32px;
    outline: none;
    padding: 0 12px;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
    z-index: 0;
    &:focus {
      border-color: var(--ivy-color-primary);
    }
  }
  &-close {
    cursor: pointer;
    font-size: 16px;
  }
  &__suffix {
    position: absolute;
    height: 100%;
    right: 5px;
    top: 0;
    text-align: center;
    color: #c0c4cc;
    transition: all 0.3s;
    z-index: 1;
  }
  &__icon,
  &-close {
    width: 25px;
    line-height: 36px;
  }
  &__prefix,
  &__icon {
    height: 100%;
    text-align: center;
    transition: all 0.3s;
  }
  &.is-disabled {
    .ivy-input__inner {
      background-color: #f5f7fa;
      border-color: #e4e7ed;
      color: #c0c4cc;
      cursor: not-allowed;
    }
  }
}
.ivy-input--suffix {
  .ivy-input__inner {
    padding-right: 30px;
  }
}

.ivy-input--large {
  .ivy-input__inner {
    height: 40px;
    line-height: 40px;
  }
}
.ivy-input--small {
  .ivy-input__inner {
    height: 28px;
    line-height: 28px;
  }
}
