@import "./common/var.scss";

.ivy-switch {
  display: inline-block;
  box-sizing: border-box;
  &__core {
    margin: 0;
    display: inline-block;
    position: relative;
    width: 44px;
    height: 22px;
    line-height: 22px;
    border: 1px solid var(--ivy-border-color);
    background-color: var(--ivy-border-color);
    outline: none;
    border-radius: 11px;
    box-sizing: border-box;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
    vertical-align: middle;
    font-size: 12px;
    text-align: right;
    padding: 0 4px;
    color: var(--ivy-color-white);
    &:after {
      content: "";
      position: absolute;
      top: 1px;
      left: 1px;
      border-radius: 100%;
      transition: all 0.3s;
      width: 18px;
      height: 18px;
      background-color: var(--ivy-color-white);
    }
  }
}
.is-checked {
  .ivy-switch__core {
    border-color: var(--ivy-color-primary);
    background-color: var(--ivy-color-primary);
    text-align: left;
    &:after {
      left: 100%;
      margin-left: -19px;
    }
  }
}
.is-disabled {
  opacity: 0.6;
  .ivy-switch__core {
    cursor: not-allowed;
  }
}
