.ivy-tooltip {
  display: inline-block;
  position: relative;
  &-rel {
    @extend .ivy-tooltip;
    position: relative;
    width: inherit;
  }
  &-popper {
    display: block;
    font-size: 14px;
    line-height: 1.5;
    position: absolute;
    z-index: 1060;
    &[data-popper-placement^="top"] {
      padding: 5px 0 8px;
      & .ivy-tooltip-arrow {
        bottom: 3px;
        border-width: 5px 5px 0;
        border-top-color: rgba(70, 76, 91, 0.9);
      }
    }
    &[data-popper-placement="top"] {
      & .ivy-tooltip-arrow {
        left: 50%;
        margin-left: -5px;
      }
    }
    &[data-popper-placement="top-start"] {
      & .ivy-tooltip-arrow {
        left: 16px;
      }
    }
    &[data-popper-placement="top-end"] {
      & .ivy-tooltip-arrow {
        right: 16px;
      }
    }
    &[data-popper-placement^="bottom"] {
      padding: 8px 0 5px;
      & .ivy-tooltip-arrow {
        top: 3px;
        border-width: 0 5px 5px;
        border-bottom-color: rgba(70, 76, 91, 0.9);
      }
    }
    &[data-popper-placement="bottom"] {
      & .ivy-tooltip-arrow {
        left: 50%;
        margin-left: -5px;
      }
    }
    &[data-popper-placement="bottom-start"] {
      & .ivy-tooltip-arrow {
        left: 16px;
      }
    }
    &[data-popper-placement="bottom-end"] {
      & .ivy-tooltip-arrow {
        right: 16px;
      }
    }
    &[data-popper-placement^="left"] {
      padding: 0 8px 0 5px;
      & .ivy-tooltip-arrow {
        right: 3px;
        border-width: 5px 0 5px 5px;
        border-left-color: rgba(70, 76, 91, 0.9);
      }
    }
    &[data-popper-placement="left"] {
      & .ivy-tooltip-arrow {
        top: 50%;
        margin-top: -5px;
      }
    }
    &[data-popper-placement="left-start"] {
      & .ivy-tooltip-arrow {
        top: 8px;
      }
    }
    &[data-popper-placement="left-end"] {
      & .ivy-tooltip-arrow {
        bottom: 8px;
      }
    }
    &[data-popper-placement^="right"] {
      padding: 0 5px 0 8px;
      & .ivy-tooltip-arrow {
        left: 3px;
        border-width: 5px 5px 5px 0;
        border-right-color: rgba(70, 76, 91, 0.9);
      }
    }
    &[data-popper-placement="right"] {
      & .ivy-tooltip-arrow {
        top: 50%;
        margin-top: -5px;
      }
    }
    &[data-popper-placement="right-start"] {
      & .ivy-tooltip-arrow {
        top: 8px;
      }
    }
    &[data-popper-placement="right-end"] {
      & .ivy-tooltip-arrow {
        bottom: 8px;
      }
    }
  }
  &-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
  &-inner {
    box-sizing: border-box;
    max-width: 250px;
    min-height: 34px;
    padding: 8px 12px;
    color: #fff;
    text-align: left;
    text-decoration: none;
    background-color: rgba(70, 76, 91, 0.9);
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
  }
  &-light {
    &.ivy-tooltip-popper {
      &[data-popper-placement^="top"] {
        padding: 7px 0 10px;
        & .ivy-tooltip-arrow {
          bottom: 3px;
          border-width: 7px 7px 0;
          border-top-color: hsla(0, 0%, 85%, 0.5);
          &::after {
            content: "";
            bottom: 1px;
            margin-left: -7px;
            border-bottom-width: 0;
            border-top-width: 7px;
            border-top-color: #fff;
          }
        }
      }
      &[data-popper-placement="top"] {
        & .ivy-tooltip-arrow {
          left: 50%;
          margin-left: -7px;
        }
      }
      &[data-popper-placement="top-start"] {
        & .ivy-tooltip-arrow {
          left: 16px;
        }
      }
      &[data-popper-placement="top-end"] {
        & .ivy-tooltip-arrow {
          right: 16px;
        }
      }
      &[data-popper-placement^="bottom"] {
        padding: 10px 0 7px;
        & .ivy-tooltip-arrow {
          top: 3px;
          border-width: 0 7px 7px;
          border-bottom-color: hsla(0, 0%, 85%, 0.5);
          &::after {
            content: " ";
            top: 1px;
            margin-left: -7px;
            border-top-width: 0;
            border-bottom-width: 7px;
            border-bottom-color: #fff;
          }
        }
      }
      &[data-popper-placement="bottom"] {
        & .ivy-tooltip-arrow {
          left: 50%;
          margin-left: -7px;
        }
      }
      &[data-popper-placement="bottom-start"] {
        & .ivy-tooltip-arrow {
          left: 16px;
        }
      }
      &[data-popper-placement="bottom-end"] {
        & .ivy-tooltip-arrow {
          right: 16px;
        }
      }
      &[data-popper-placement^="left"] {
        padding: 0 10px 0 7px;
        & .ivy-tooltip-arrow {
          right: 3px;
          border-width: 7px 0 7px 7px;
          border-left-color: hsla(0, 0%, 85%, 0.5);
          &::after {
            content: "";
            right: 1px;
            margin-top: -7px;
            border-right-width: 0;
            border-left-width: 7px;
            border-left-color: #fff;
          }
        }
      }
      &[data-popper-placement="left"] {
        & .ivy-tooltip-arrow {
          top: 50%;
          margin-top: -7px;
        }
      }
      &[data-popper-placement="left-start"] {
        & .ivy-tooltip-arrow {
          top: 8px;
        }
      }
      &[data-popper-placement="left-end"] {
        & .ivy-tooltip-arrow {
          bottom: 8px;
        }
      }
      &[data-popper-placement^="right"] {
        padding: 0 7px 0 10px;
        & .ivy-tooltip-arrow {
          left: 3px;
          border-width: 7px 7px 7px 0;
          border-right-color: hsla(0, 0%, 85%, 0.5);
          &::after {
            content: "";
            left: 1px;
            margin-top: -7px;
            border-left-width: 0;
            border-right-width: 7px;
            border-right-color: #fff;
          }
        }
      }
      &[data-popper-placement="right"] {
        & .ivy-tooltip-arrow {
          top: 50%;
          margin-top: -7px;
        }
      }
      &[data-popper-placement="right-start"] {
        & .ivy-tooltip-arrow {
          top: 8px;
        }
      }
      &[data-popper-placement="right-end"] {
        & .ivy-tooltip-arrow {
          bottom: 8px;
        }
      }
    }
    .ivy-tooltip-arrow {
      &::after {
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        border: 7px solid transparent;
        content: "";
      }
    }
    .ivy-tooltip-inner {
      background-color: #fff;
      color: #515a6e;
    }
  }
}
